<div
  class="min-h-screen bg-gradient-to-br from-amber-50 via-amber-50 to-amber-100 py-8"
>
  <div class="w-full max-w-screen-xl mx-auto px-4">
    <!-- Botón de retroceso -->
    <button
      (click)="volverAtras()"
      class="mb-6 bg-stone-700 hover:bg-stone-900 text-white px-4 py-2 rounded transition flex items-center gap-2"
    >
      <span class="material-icons"></span>
      Volver
    </button>

    <h2 class="text-2xl font-bold text-gray-700 mb-6 text-center">
      Mis Pedidos
    </h2>

    <div *ngIf="pedidos.length > 0" class="space-y-6">
      <div
        *ngFor="let pedido of pedidos"
        class="w-full flex flex-col gap-3 bg-gradient-to-b from-white to-sky-50 border border-gray-200 rounded-xl p-6 shadow-md hover:shadow-lg transition-all duration-300"
      >
        <div class="flex justify-between items-center">
          <h3 class="text-lg font-semibold text-gray-800">
            Pedido #{{ pedido.id }}
          </h3>
          <p class="text-sm text-gray-600">{{ pedido.fecha | date:'short' }}</p>
        </div>

        <div class="grid md:grid-cols-2 gap-4 text-sm text-gray-700">
          <div>
            <p>
              <strong>Restaurante:</strong> {{ pedido.menu.restaurante.nombre }}
            </p>
            <p><strong>Fecha del menú:</strong> {{ pedido.menu.fecha }}</p>
          </div>

          <div>
            <p>
              <strong>Entrada:</strong> {{ pedido.entrada.nombre }} - S/ {{
              pedido.entrada.precio }}
            </p>
            <p>
              <strong>Segundo:</strong> {{ pedido.segundo.nombre }} - S/ {{
              pedido.segundo.precio }}
            </p>
          </div>
        </div>

        <div class="flex justify-between items-center mt-2">
          <span class="text-sm text-gray-600">
            Estado: <strong>{{ pedido.estado | titlecase }}</strong>
          </span>
          <span class="text-lg font-bold text-green-600">
            Total: S/ {{ pedido.total }}
          </span>
        </div>
      </div>
    </div>

    <p *ngIf="pedidos.length === 0" class="text-gray-600 text-center">
      No tienes pedidos aún.
    </p>
  </div>
</div>