<div class="flex items-center justify-center h-screen">
  <div
    class="min-w-fit flex-col border bg-white px-6 py-14 shadow-md rounded-[4px] w-[360px]"
  >
    <div class="mb-8 flex justify-center">
      <img class="w-24" src="restoLogo.svg" alt="Logo" />
    </div>

    <form
      #registerForm="ngForm"
      (ngSubmit)="onRegister()"
      autocomplete="off"
      class="flex flex-col text-sm rounded-md space-y-4"
    >
      <select
        name="tipo"
        [(ngModel)]="tipo"
        class="rounded-[4px] border p-3 focus:outline-none hover:border-yellow-500"
        required
      >
        <option value="" disabled selected>Selecciona el tipo de cuenta</option>
        <option value="cliente">Cliente</option>
        <option value="restaurante">Restaurante</option>
      </select>

      <input
        *ngIf="tipo === 'cliente'"
        type="text"
        name="username"
        [(ngModel)]="username"
        class="rounded-[4px] border p-3 hover:outline-none focus:outline-none hover:border-yellow-500"
        placeholder="Nombre de usuario"
        autocomplete="off"
        required
      />

      <input
        *ngIf="tipo === 'restaurante'"
        type="text"
        name="nombreRestaurante"
        [(ngModel)]="nombreRestaurante"
        class="rounded-[4px] border p-3 hover:outline-none focus:outline-none hover:border-yellow-500"
        placeholder="Nombre del Restaurante"
        autocomplete="off"
        required
      />

      <input
        *ngIf="tipo === 'restaurante'"
        type="text"
        name="username"
        [(ngModel)]="username"
        class="rounded-[4px] border p-3 hover:outline-none focus:outline-none hover:border-yellow-500"
        placeholder="Nombre de usuario para el restaurante"
        autocomplete="off"
        required
      />

      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        class="rounded-[4px] border p-3 hover:outline-none focus:outline-none hover:border-yellow-500"
        placeholder="Contraseña"
        autocomplete="new-password"
        required
      />

      <input
        type="password"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        class="rounded-[4px] border p-3 hover:outline-none focus:outline-none hover:border-yellow-500"
        placeholder="Confirmar Contraseña"
        autocomplete="new-password"
        required
      />

      <p *ngIf="passwordMismatch" class="text-red-500 text-sm text-center">
        Las contraseñas no coinciden
      </p>

      <button
        type="submit"
        class="w-full border p-2 bg-gradient-to-r from-gray-800 bg-gray-500 text-white rounded-[4px] hover:bg-slate-400 scale-105 duration-300"
        [disabled]="!registerForm.form.valid || passwordMismatch"
      >
        Registrarse
      </button>

      <p *ngIf="error" class="text-red-500 text-sm mt-2 text-center">
        {{ error }}
      </p>
      <p *ngIf="success" class="text-green-500 text-sm mt-2 text-center">
        ¡Registro exitoso!
      </p>
    </form>

    <div class="mt-5 flex justify-between text-sm text-gray-600">
      <a href="#">¿Ya tienes cuenta?</a>
      <a href="/login">Iniciar sesión</a>
    </div>
  </div>
</div>
